
body{
margin:0;
background-color:black;
padding: 8px;
color: white;
}
.di{
  height:45px;
  background-color: grey;    
  text-align: center;
}
p{
	font-family: sans-serif;
	width: 50%;
}
a{
	color: white;
	text-decoration: none;
}
img{
float:right;
border: 6px solid grey;
}
ul.c{
  list-style-type: none;
    margin: 0;
  padding: 0;
}
li a {
	float: left;
  border: 0px solid grey;
  padding: 2px;
  margin: 0%;

}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid white;
  text-align: left;
  padding: 8px;
}
img.k{
	border: 1px solid white;
}
.navbar {
  overflow: hidden;
  background-color: grey;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
}
.download{
  background-color: grey;
  width:100%;
  border: 1px solid black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #f2f2f2;
}
.navbar a:hover {
  background: black;
  color: white;
}
.download a:hover {
  background: black;
  color: white;
}
.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
img.Ans
{
	border: none;
	padding-right: 30%;
}
img.logo
{
  border: none;
  padding-right: none;
  float: left;
}
.dat{
  text-decoration: none;
  color:  #000fff;
}
@media (max-width: 767px)
{

img
{
float: none;
border: 0px solid grey;
}
img.k{
	border: 0px solid white;
}
p{
	font-family: sans-serif;
	width: 100%;
	font-size: 20px;
}
li{
  font-size: 22px;
}
pre
{
	font-size: 22px;
}
td, th {
  font-size: 20px;
}
ul.skil
{
	font-size: 20px;
}
}